@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root{
    --primary-font:'Roboto', sans-serif;
    --primary-color:#9c88ff;
    --gray-color:#dcdde1;
    --subtle-black-color:#1e272e;
    --danger-color:#ff3f34;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    color: var(--subtle-black-color);
}

.form-input-container{
    @apply flex flex-col gap-1 capitalize;
}

.form-input-container input{
    @apply py-1 px-2 bg-slate-100 rounded-sm outline-none;
}

.form-input-container p{
    @apply text-xs text-(--danger-color) hidden;
}
.hr-line{
    @apply h-[1px] w-full border-[0.5px] border-(--gray-color) rounded-md;
}