@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --primary-font: "Raleway", sans-serif;
  --primary-color: #444cb1;
  --gray-color: #dcdde1;
  --input-bg-color: #f6f6f6;
  --input-text-color: #616161;
  --input-value-color: #1d1d1f;
  --subtle-black-color: #1e272e;
  --danger-color: #ff3f34;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: var(--primary-font);
  color: var(--subtle-black-color);
}

#root, main {
  height: 100vh;
  width: 100%;
}

.turn-white{
  @apply invert brightness-0;
}
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px var(--input-bg-color) inset !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--input-bg-color) inset !important;
  -webkit-text-fill-color: var(--input-value-color) !important;
}

.menu-option{
  @apply w-13 cursor-pointer hover:bg-[#9c88ff] p-3 rounded-[100%] transition-all duration-300 flex gap-4 items-center;
}

.menu-option-name{
  @apply capitalize text-white 
}

.menu button{
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
}

.dashboard .menu-md-screen{
  @apply hidden;
} 

.primary-btn{
  @apply cursor-pointer uppercase text-white bg-(--primary-color) tracking-wider font-medium py-3 w-full rounded-xl border-2 hover:border-(--primary-color) hover:bg-white hover:text-(--primary-color) transition-colors duration-300;
}