@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root{
    --primary-font:'Noto Sans', sans-serif;
    --primary-color:#9c88ff;
    --gray-color:#dcdde1;
    --input-bg-color: #f6f6f6;
    --input-text-color: #616161;
    --input-value-color: #1d1d1f;
    --subtle-black-color:#1e272e;
    --danger-color:#ff3f34;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    color: var(--subtle-black-color);
}